/* 

Colors: 
	light-teal #4dd6e2;
	white:  #fff;
	medium-grey:  #5f5f5f;
	black: #000;

*/

:root {
	/* Colors*/
	--light-teal: #4dd6e2;
	--white:  #fff;
	--medium-grey: #5f5f5f;
	--black: #000;
}

* {
  box-sizing: border-box;
}

body {
	text-align: center;
}

ul {
	list-style-type: none; /*removes bulletpoints */
}

.button-class {
	background-color: var(--light-teal);
	color: var(--black);
	padding: 10px;
  	border-radius: 3px;
  	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}